@using Lince.SportCenter.Domain
@{ 
    var list = AvailStatus.Open.ToSelectList();
}

<select name="AvailStatus" id="AvailStatus" class="autowidth">
@foreach (var item in list)
{
    <option value="@item.Value">@item.Text</option>  
}
</select>

<script>
    $(function () {
        $('#AvailStatus').selectWrapper();
    });
</script>