@model Lince.SportCenter.Models.ProductSPCModel
@using Lince.SportCenter.Domain

@{
    Layout = "";
}

@Html.HiddenFor(m => m.ProductId)

<div style="margin-bottom: 30px; overflow: hidden;">
</div>