@using SmartStore.Web.Framework;

<h2>Configure</h2><div class="alert alert-info">
    <button class="close" data-dismiss="alert">×</button>
    @Html.Raw(@T("Plugins.Lince.SportCenter.AdminInstruction"))
</div>
